body {
    background-color: rgb(27 30 54 / 1);
    margin: 0;
}

.container {
    background-color: rgb(36 37 71 / 1);
    margin: 150px auto;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    color: rgb(241 245 249 / 1);
    position: relative;
    display: flex;
}

.container .first-p {
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 20px;
}

.container p:nth-child(6) {
    position: absolute;
    bottom: 5rem;
    left: 3rem;
}

.card { 
    background-color: rgb(48 51 91 / 1);
    width: 50px;
    height: 50px;
    position: relative;
    top: 6rem;
    left: 3rem;
    margin: 11px;
}

.card:nth-child(4) {
    background-color: rgb(236 76 134 / 1);
}

.card a {
    font-size: 2rem;
    position: absolute;
    color: rgb(241 245 249 / 1);
    position: absolute;
    top: 8px;
    left: 10px;
}

.page-link {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    width: 385px;
    height: 54px;
    background-color: rgb(27 30 54 / 1);
}

.page-link p {
    position: absolute;
    top: 0rem;
    font-size: 17px;
    left: 1.3rem;
}

.page-link a {
    position: absolute;
    right: 2rem;
    bottom: 1.3rem;
    text-decoration: none;
    font-size: 14px;
    color: rgb(82 79 158 / 1);
}